In [ ]:
import requests
import pandas

In [ ]:
%pip install requests-toolbelt

In [ ]:
years = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
cat=[339,347,348,340,352,652]
for n in cat
    globals()[f"category{n}"]=pandas.DataFrame()
    
    for i in years:
        params = {
            "ctry":'' ,
            "cat": f'{n}',
            "delimit": 'table',
            "years": f'{i}'
        }
        data = params
        headers = {
            'Content-type': data.content_type
        }
        response = requests.post(
            'https://otexa.trade.gov/scripts/tqmon2.exe/catdata',
            data = params,
            headers = headers
        )
        year=pandas.read_html(response.text)[0]
        year['Valueperc'] = year['Value'] /year['Value'].values[0]
        year['quantityperc'] = year['Quantity']/year['Quantity'].values[0]
        globals()[f"category{n}"]=globals()[f"category{n}"].append(year)
        
        globals()[f"category{n}"].to_csv(f'{n}.csv')
        print(globals()[f"category{n}"])

In [ ]:
pandas.read_html(response.text)

In [ ]:
year=pandas.read_html(response.text)[0]
year['Valueperc'] = year['Value'] /year['Value'].values[0]
year['quantityperc'] = year['Quantity']/year['Quantity'].values[0]

In [ ]:
year['Quantity'].get_values()[0]

In [ ]:
year[0]['Value'][0]

In [ ]:
categories=pandas.read_html('https://otexa.trade.gov/msrcat.htm')

In [ ]:
cat=categories[0]

In [ ]:
cat=categories[0]
idx=cat[cat['NOTIONAL CATEGORIES (Aggregations)']=='APPAREL:'].index[0]
cat = cat[idx+1:]

In [ ]:
cat[cat['NOTIONAL CATEGORIES (Aggregations)']=='MADE-UPS:'].index[0]

In [ ]:
cat=cat[:96]

In [ ]:
import re
search = []    
for values in cat['NOTIONAL CATEGORIES (Aggregations)']:
    search.append(re.search(r'\d+', values).group())

In [ ]:
cat['categories'] = search

In [ ]:
search=list(map(int, search))

In [ ]:
oldcat=[338,339,347,348,340,352,652]

for element in oldcat:
    if element in search:
        search.remove(element)

In [ ]:
years = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
keys=search
for n in keys:
    globals()[f"category{n}"]=pandas.DataFrame()
    
    for i in years:
        params = {
            "ctry":'' ,
            "cat": f'{n}',
            "delimit": 'table',
            "years": f'{i}'
        }
        
        response = requests.post(
            'https://otexa.trade.gov/scripts/tqmon2.exe/catdata',
            data = params
        )
        year=pandas.read_html(response.text)[0]
        #year['Valueperc'] = year['Value'] /year['Value'].values[0]
        #year['quantityperc'] = year['Quantity']/year['Quantity'].values[0]
        globals()[f"category{n}"]=globals()[f"category{n}"].append(year)
        
        globals()[f"category{n}"].to_csv(f'{n}.csv')
        print(globals()[f"category{n}"])

In [ ]:
cat.to_csv('apparelcateg.csv')

In [ ]:
category237

In [ ]:
category237[(category237.Month  6)].iloc[0]

In [ ]:
category237.loc[category237.Month!=3].index[0]

In [ ]:
category237[category237['Month']==3].index[0]

In [ ]:
category237.loc[[95]]

In [ ]:
category237.loc[(category237['Year']==2021)&(category237['Month']==3)]

In [ ]:
keys

In [116]:
years = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
keys=search
for n in keys:
    globals()[f"category{n}"]=pandas.DataFrame()
    
    for i in years:
        params = {
            "ctry":'' ,
            "cat": f'{n}',
            "delimit": 'table',
            "years": f'{i}'
        }
        
        response = requests.post(
            'https://otexa.trade.gov/scripts/tqmon2.exe/catdata',
            data = params
        )
        year=pandas.read_html(response.text)[0]
        #year['Valueperc'] = year['Value'] /year['Value'].values[0]
        #year['quantityperc'] = year['Quantity']/year['Quantity'].values[0]
        globals()[f"category{n}"]=globals()[f"category{n}"].append(year)
        
        globals()[f"category{n}"].to_csv(f'{n}.csv')
        print(globals()[f"category{n}"])

   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
   Category  Year  Month  Quantity  Value
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN
0       NaN   NaN    NaN       NaN    NaN